body {
  background-color: rgb(6, 6, 56);
  color: rgb(255, 255, 255);
  font-family: "Courier New", Courier, monospace;
  margin: 0;
}

header {
  background-color: rgb(25, 64, 100);
  padding: 2rem;
  text-align: center;
}

header h1 {
  margin: 0;
}

header a {
  color: rgb(66, 211, 221);
  text-decoration: none;
}

nav {
  margin-top: 0.5rem;
}

nav a {
  color: rgb(66, 211, 221);
  margin: 0 0.5rem;
}

main {
  padding: 1rem;
}

img {
  max-width: 100%;
}

.home-content div {
  display: inline-block;
  width: 60%;
}

.home-content img {
  width: 38%;
  vertical-align: top;
}

.jellies,
.whales,
.creatures {
  background-color: rgb(19, 107, 114);
  padding: 1rem;
  display: inline-block;
  margin: 0.5rem;
  vertical-align: top;
}

.jellies {
  width: 29%;
}

.whales {
  width: 46%;
}

.creatures {
  width: 29%;
}
