body {
  font-family: "Times New Roman", Times, serif;
  margin: 0;
}

header {
  background-color: #275218;
  color: #fff;
}

header > img {
  max-width: 6rem;
  margin: 1rem;
}

header > h1 {
  display: inline-block;
  margin: 1rem 0;
  vertical-align: top;
}

header > nav {
  padding: 0 0 1rem 1rem;
}

header > nav > a {
  background-color: #fff;
  color: #275218;
  text-decoration: none;
  padding: 1rem;
  display: inline-block;
  border: 1px solid transparent;
}

header > nav > a:hover {
  background-color: #275218;
  color: #fff;
  border: 1px solid #fff;
}

/* Main layout */
main {
  background-color: #ebebeb;
  padding: 1rem;
  max-width: 60rem;
  margin: 1rem auto;
}

h2 {
  background-color: #275218;
  color: #fff;
  padding: 1rem;
  margin: 0 0 1rem;
}

/* Articles */
article {
  background-color: #fff;
  padding: 1rem;
  margin: 1rem 0;
  overflow: auto;
}

article > h3 {
  margin-top: 0;
}

/* Default article images (Tom Hanks, Nike, News articles) */
article > img {
  max-width: 100%;
  width: 30rem;
  float: left;
  margin: 0 1rem 1rem 0;
  display: block;
}

/* Image only articles (baseball + mahershala) */
article > .image-only {
  float: none;
  width: 100%;
  margin: 0;
  display: block;
}

/* Article footers (date line) */
article > footer {
  font-style: italic;
  font-weight: 900;
  clear: both;
  margin-top: 1rem;
}

article > footer p {
  margin: 0;
}

article > footer span {
  color: #275218;
  font-size: 1.25rem;
}

/* Bottom page footer */
body > footer {
  background-color: #275218;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

body > footer > a {
  color: #fff;
  margin: 1rem;
  text-decoration: none;
}

body > footer > a:hover {
  text-decoration: underline;
}
